<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.project.system.mapper.medical.MedicalRechargeMapper">
    
    <resultMap type="MedicalRecharge" id="MedicalRechargeResult">
        <id     property="id"            column="id"            />
        <result property="uid"           column="uid"           />
        <result property="money"         column="money"         />
        <result property="payMoney"      column="pay_money"     />
        <result property="outTradeNo"    column="out_trade_no"  />
        <result property="orderNum"      column="order_num"     />
        <result property="status"        column="status"        />
        <result property="type"          column="type"          />
        <result property="isPayStatus"   column="is_pay_status" />
        <result property="activeId"      column="active_id"     />
        <result property="orderTime"     column="order_time"    />
    </resultMap>

    <insert id="insertRecharge" parameterType="MedicalRecharge" useGeneratedKeys="true" keyProperty="id">
        insert into project_recharge(
            uid, money, pay_money, out_trade_no, order_num, status, type, is_pay_status, active_id, order_time
        )values(
            #{uid}, #{money}, #{payMoney}, #{outTradeNo}, #{orderNum}, #{status}, #{type}, #{isPayStatus}, #{activeId}, #{orderTime}
        )
    </insert>
    
    <select id="selectRechargeByOutTradeNo" parameterType="String" resultMap="MedicalRechargeResult">
        select id, uid, money, pay_money, out_trade_no, order_num, status, type, is_pay_status, active_id, order_time
        from project_recharge
        where out_trade_no = #{outTradeNo}
    </select>
    
    <update id="updateRecharge" parameterType="MedicalRecharge">
        update project_recharge
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="orderTime != null">order_time = #{orderTime},</if>
        </set>
        where id = #{id}
    </update>

</mapper>

